body{
	margin: 0;
	padding: 0;
}

.header{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width: 100%;
	height: 100px;
	background-color: blue;
}

.footer{
	height:100px;
	width:100%;
	background-color: black;
}

#img{
	height:60px;
	width:60px;
	border-radius: 50%;
	margin-top: 10px;
	margin-left: 10px;
}

.menu{
	display:flex;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

.menu a:nth-last-child(1){
	padding-right: 20px;
}
.menu a:hover {
	background-color: gray;
	color:white;
}

.body_div{
	width: 100%;
	height: 576px;
	color: black;
	text-align: center;
}

.error_text{
	height:20px;
	width:100%;
	text-align: center;
	color:red;
}